
.bg-overlay-image {
    background-image: url('https://i.ibb.co/hFFmcbc/bg-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.95); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  